html {
  height: 100%;
  width: 100%;
  font-family: Arial;
}

.container {
  background-color: #dbdbdb;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.cor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.caixa {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
}